

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
    font-family: 'Quicksand', system-ui, sans-serif;
    background-color: #f7fafc;
    line-height: 1.6;
    padding: 2rem;
    max-width: 100vw;
    margin: 0 auto;
}

#title {
    color: rgb(83, 215, 227);
}

hr {
  border: none;
  border-top: 1px solid #e2e8f0;
  margin: 1rem 0;
}

#message, #movies-message {
  text-align: center;
  margin: 1rem 0;
  /* color: #4a5568; */
  color: rgb(83, 215, 227);
}

button {
    margin-bottom: 2rem;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3rem;
    background-color: rgb(60, 176, 186);
    justify-self: flex-start;
}

#logon-register, #movies{
   text-align: center;
   margin: 2rem 0;
}

form {
    background-color:azure;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.6rem rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 2rem auto;
}

form div {
    margin-bottom: 1rem;
}
form button {
    align-self: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: rgb(83, 215, 227);
}

input {
    width: 100%;
    padding: 0.75rem;
    /* border: 0.1rem solid #e0e4e9; */
    border: none;
    background-color: rgb(218, 233, 233);
    border-radius: 0.5rem;
}

#logon-register,
#movies {
  text-align: center;
  margin: 2rem 0;
}

#movies-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    overflow: hidden;
    box-shadow: 0 0.5rem 0.6rem rgba(0,0,0,0.1);
}

#movies-table th,
#movies-table td {
  padding: 1rem;
  text-align: left;
}


#movies-table-header th{
    color: rgb(83, 215, 227);
    font-weight: 700;
}

#movies-table tr:last-child td {
  border-bottom: none;
}

#edit-movie textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  font-size: 1rem;
  resize: vertical;
}